{% extends "base.html" %}
{% load static %}

{% block act4 %}active{% endblock %}

{% block content %}
	
	

	<!--  -->
	<section class="page-section">
		<div class="container">
			<!-- Título y Subtítulo -->
			<h2 class="section-heading text-uppercase text-center">Contacto</h2>
			<hr class="divider">
			<!-- End Título y Subtítulo -->

			<div class="row">

				<!-- Contact -->
				<div class="col-md-6">

					<h3 class="fw-bold mb-0">Derlys Daniel Alvarado Mendoza</h3>
					<h5 class="fw-bold mb-0">Developer Python</h5>

					<ul class="list-group pt-4 pb-2">
						<li class="list-group-item border-0">
							<i class="fa fa-phone"></i>
							&nbsp; (+58) 0416-352-1075
						</li>
						<li class="list-group-item border-0">
							<i class="fa fa-envelope-o"></i>
							&nbsp; ddam.java@gmail.com
						</li>
					</ul>

					<div class="d-inline">
						
						<a class="fa-stack fa-lg"
						   href="https://github.com/d4n13111"
						   target="_blank">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa fa-github fa-stack-1x"></i>
						</a>

						<a class="fa-stack fa-lg"
						   href="https://www.linkedin.com/in/ddam1988/"
						   target="_blank">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x"></i>
						</a>


					</div>
				</div>
				<!-- End Contact -->

				<!-- Form contact -->
				<div class="col-md-6">
					<form method="post" action="{% url 'send' %}">
						{% csrf_token %}
						
						<div class="input-group mb-1">
							<input type="text"
							       class="form-control form-control-lg"
							       name="name"
							       placeholder="Nombre Completo" required>
						</div>
						<div class="input-group mb-1">
							<input type="email"
							       class="form-control form-control-lg"
							       name="email"
							       placeholder="Correo electronico" required>
						</div>
						<div class="input-group mb-1">
							<input type="text"
							       class="form-control form-control-lg"
							       name="subject"
							       placeholder="Asunto" required>
						</div>
						<div class="input-group mb-1">
							<textarea class="form-control form-control-lg"
							          name="message"
							          rows="5"
							          data-rule="required"
							          name="message"
							          placeholder="Mensaje" required>
							          	
							</textarea>
						</div>
						<div class="d-grid gap-2 mx-auto mt-3">
							<button type="submit"
							        class="btn btn-primary button-rouded">
							    Enviar
							</button>
						</div>
					
					</form>
				</div>
				<!-- End Form contact -->
			
			</div>

		</div>
	</section>
	<!-- End -->

	<!-- Footer -->
	<footer class="footer text-center bg-dark text-white fixed-bottom">
		<p class="small">Copyright &copy; {% now 'Y' %}, Todos los derechos reservados</p>
	</footer>
	<!-- End Footer -->

{% endblock %}